# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Installed dependencies
node_modules/

# Production build output
dist/
dist-ssr/

# Local environment files and secrets
.env
.env.*
!.env.example
*.local

# Vercel's local project settings
.vercel/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
